<!DOCTYPE html>
<html>
  <head>
    <title>Todd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="page-header">
      <div class="page-header_links">
        <% if request.path != root_path %>
        <a href="/">Home</a>
        <% end %>
        <a style="margin-left: 15px" href="<%= people_matches_path %>">Guys Christmas Matches</a>
      </div>
      <div class="page-header_title">
        <h1>T.E.S.L.A</h1>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
